@charset "UTF-8";

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, .5);
  z-index: 2;
  width: 100%;
}

/*
nav {
  padding-right: 50px;
}

ul {
  padding-top: 10px;
  margin: 0;
}
*/

.top {
  height: 130vh;
  z-index: 1;
  width: 100%;
}

#head h1 {
  font-size: 3em;
  margin: 0;
  padding-top: 13px;
  color: dimgray;
}

.logo img {
  width: 75px;
  height: 75px;
  padding-top: 10px;
}

/* ハンバーガー部分記述 */


.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 0px 0 0px;
  width: 50px;
  height: 50px;
  z-index: 500;
  cursor: pointer;
  margin: 5px;
  transition: all .5s ease-out 0s;
}

.hamburger_line {
  position: absolute;
  left: 13px;
  margin-top: 14px;
  width: 25px;
  height: 2px;
  background-color: black;
  transition: all .3s;
}

.hamburger_line2 {
  margin-top: 24px;
  opacity: 1;
}

.hamburger_line3 {
  margin-top: 34px;
}


/* ハンバーガーが押されたとき */

.nav_open #hamnav {
  top: 0;
}

.nav_open .hamburger {
  background-color: black;
}

.nav_open .hamburger_line1 {
  top: 10px;
  transform: rotate(-45deg);
  background-color: #222;
}

.nav_open .hamburger_line2 {
  background-color: #222;
  left: 30px;
  opacity: 0;
}

.nav_open .hamburger_line3 {
  transform: rotate(45deg);
  background-color: #222;
  top: -9px;
}



footer {
  text-align: center;
}
