@charset "UTF-8";

body {
  width: 100%;
  padding: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,.5);
  background: url(../img/top_pc.png) no-repeat center top/cover ;
  height: 130vh
}

.logo img {
  width: 75px;
  height: 75px;
}

footer{
  text-align: center;
}
